/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
  }
/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
  background-image: url(https://tuchuang.voooe.cn/images/2023/01/12/zhuye.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background-image: url(https://tuchuang.voooe.cn/images/2023/01/12/zhuye.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
.loading-img {
  background: url(https://tuchuang.voooe.cn/images/2023/01/12/wsb.png) no-repeat center center;
  background-size: cover;
}