@font-face {
    font-family: 'wsb';
    /* 字体名自定义即可 */
    src: url('https://unpkg.com/wsbziti@1.0.2/三极行楷简体-粗.ttf');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: wsb !important;
    font-weight: bold
}