/* 颜色设置 */
[data-theme=light] {
    --sianx_popup: #9c9;/* 白天 */
  }
  [data-theme=dark] {
    --sianx_popup: #343434;/* 夜间 */
  }
  .snackbar-pos {
  border-radius: 5px !important;/* 弹窗圆角 */
  }
  .snackbar-container {
    background: var(--sianx_popup) !important;/* 弹窗颜色 */
  }
  /* 字体设置，没有自定义字体的可忽略，这边只是提醒一下 */
  .snackbar-container {
    font-family: 'aqqxs', sans-serif !important; /* snackbar弹窗 */
  }