/* 新年侧边栏 */

#newYear {
    color: white;
    padding: 0 !important;
}

#newYear p,
#newYear h3 {
    font-weight: normal;
    color: inherit;
    margin: 0;
}

#newYear .item-headline {
    display: none;
}
#newYear .title{
    font-size: 1.5rem
}
#newYear-main {
    min-height: 160px;
    padding: 1rem;
    position: relative;
    border-radius: 12px;
    background-image: url(https://preview.cloud.189.cn/image/imageAction?param=586ED63F49A9C0E595CC1F17618A0B56195925E8B9D3E53AA7CBE8415B1127DD0B57176FBA87F5A7256A5677CCA27C8D6E40E8BE4EBB5A63517D5CF2717EB012C0D3D143CEAE4A15784E4AB3E769DDB781FB8C9ECE5CF77BC8AC4DC5ED80CCDAC7FC68447942AFF9206FB499DA1FB3CEDC53B47A);
    background-size: cover;
    background-position: center;
}

#newYear-main * {
    position: relative;
    line-height: 1.3;
}

#newYear-main .newYear-time {
    font-weight: bold;
    text-align: center;
}

#newYear-main .time,
#newYear-main .happyNewYear {
    font-size: 3rem;
    margin: 1rem 0;
    display: block;
}

#newYear-main .day {
    font-size: 2rem;
}

#newYear-main .day .unit {
    font-size: 1.5rem;
}

#newYear-main .mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}